.title {
    color: red;
    background-color: aqua;
}

.content{
    color: blue;
    background-color: yellow;
}

.click-button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
}

.bungkus {
    border: 2px solid black;
    padding: 10px;
    background-color: yellow;
}